/*
 * font-family: 'Oswald', sans-serif;
 *font-family: 'Chau Philomene One', sans-serif;
  font-family: 'Bangers', cursive;
 *
 */

/* COLORS
 * Black Widow: #C40A14;
 * Hawkeye: #43363;
 */

/* LOGO */


/* FONTS */

@font-face {
  font-family: 'avengers';
  src: url('The_Avengers.ttf') format('truetype');
}

@font-face {
  font-family: 'klingon';
  src: url('klingon.TTF') format('truetype');
}

/* HEADER */

.title {
  font-family: 'Bangers', cursive;
}

.vs {
  font-family: 'Oswald', sans-serif;
}

.sub-title {
  font-family: 'Oswald', sans-serif;
}
.vs {
  font-size: 25px;
}

.black-widow {
  width: 50%;
}

.hawkeye {
  width: 50%;
}

.black-widow-quote {
  font-family: 'Oswald', sans-serif;
}

.hawkeye-quote {
  font-family: 'Oswald', sans-serif;
}

.header {
  border-bottom: 2px solid black;
}

/* CHOOSE PLAYER */

.player {
    border-top: 5px solid black;
}

.player-directions{
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
}

.player-direction-buttons {

  font-family: 'Bangers', cursive;
}

.player-black-widow-button {
  color: #C40A14;
  font-size: 25px;
}

.player-hawkeye-button {
  color: #463363;
  font-size: 25px;
}
/* FIRST MOVE */
.first-move-directions {
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
}

.first-move-direction-buttons {
  font-family: 'Bangers', cursive;
}

/* PLAY BUTTON */
.play {
  font-family: 'Bangers', cursive;
}

.play-button {
  font-size: 45px;
  color: black;
}
