/*
 * font-family: 'Oswald', sans-serif;
 *font-family: 'Chau Philomene One', sans-serif;
  font-family: 'Bangers', cursive;
 *
 */

/* FONTS */

@font-face {
  font-family: 'avengers';
  src: url('The_Avengers.ttf') format('truetype');
}

@font-face {
  font-family: 'klingon';
  src: url('klingon.TTF') format('truetype');
}

/* HEADER */

.title {
  font-family: 'Bangers', cursive;
}

.vs {
  font-family: 'Oswald', sans-serif;
}

.sub-title {
  font-family: 'Oswald', sans-serif;
}

.black-widow {
  width: 50%;
}

.hawkeye {
  width: 50%;
}

.black-widow-quote {
  font-family: 'Oswald', sans-serif;
}

.hawkeye-quote {
  font-family: 'Oswald', sans-serif;
}

.header {
  border-bottom: 2px solid black;
}
