/*
 * font-family: 'Oswald', sans-serif;
 *
 *
 */



@font-face {
  font-family: 'avengers';
  src: url('The_Avengers.ttf') format('truetype');
}

@font-face {
  font-family: 'klingon';
  src: url('klingon.TTF') format('truetype');
}

.title {
  font-family: 'klingon';
}

.sub-title {
  font-family: 'Oswald', sans-serif;
}

.black-widow {
  width: 70%;
}

.hawkeye {
  width: 70%;
}
